<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Welcome!
            {% endblock %}
        </title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
       

        {% block javascripts %}
        <script src="{{ asset('build/app.js') }}"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>
    <body>
        <div className="grid">
            <div className="topmenu">

                <nav class="navbar sticky-top navbar-dark bg-dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">
                            Event App(Symfony)
                        </a>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                            <a class="btn  btn-danger" href="{{ path('app_logout') }}">
                                Log Out
                            </a>
                        {% endif %}

                    </div>
                </nav>

            </div>
            <div class="main-body container-fluid">
                {% block body %}{% endblock %}
            </div>
        </div>

    </body>
</html>
